

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/bizmo-trial');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* body{
  background-image:radial-gradient(13% 15.5% at 78% 71%, #db3340 0%, rgba(255, 0, 0, 0) 100%), radial-gradient(14% 17% at 0% 0%, #db3340 0%, rgba(255, 0, 0, 0) 100%), linear-gradient(157deg, #fffdf4 0%, #fffdf4 100%)
} */

/* c{
  color: #f15a49;
} */

html{
  scroll-behavior: smooth;
}
.inset-box {

  box-shadow: inset 0 0px 20px #f73620;
  /* border: 1px solid #120f0f; */
  border-radius: 8px;
}

@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
  /* color: #000000; */
  /* color: #9b9b9b; */

}

.flip-class{
  transform-style: preserve-3d;
  transition: transform 1s ;
}

.backface-hidden {
  backface-visibility: hidden;
}
.Hero{
  font-family: 'Bizmo Trial', sans-serif;
  /* font-optical-sizing: auto; */
}
*{
  font-family:'Montserrat', sans-serif;
  /* color: #525151; */
  /* font-weight: 400; */
  /* font-size: 16px; */
}

/* .flip-class:hover {
transform: rotateY(180deg);
} */
/* .play-color{
  background-color: rgba(22, 0, 0, 0.893);

  background: linear-gradient(to bottom,#4501017e ,#000000eb);

} */

.animated-gradient-slide-text{
  /* font-size: 3rem; */
  /* font-weight: bold; */
  background: linear-gradient(
    270deg,
    #f73620,
    #991b1b,
    #0d0d0d,
    #dddddd,
    #ffffff,
    #f73620
  );
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 8s ease infinite;
}
.animated-gradient-text {
  /* font-size: 3rem; */
  font-weight: bold;
  background: linear-gradient(
    270deg,
    #f73620,
    #991b1b,
    #0d0d0d,
    #dddddd,
    #ffffff,
    #f73620
  );
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 8s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.animated-gradient-text-two {

  background: linear-gradient(270deg, #f73620, #c9971a, #f73620);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientShimmer 6s ease infinite;
}

@keyframes gradientShimmer {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.sublink-container {
  background: linear-gradient(135deg, #f73620aa, #0d0d0daa);
  backdrop-filter: blur(10px);

}

/* SVG */
@keyframes gridmove {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(40px, 40px);
  }
}

.animate-gridmove {
  animation: gridmove 30s linear infinite;
}

@theme {

  /* Colors */

  /* --color-primary:#10078c; */
  /* NAVY BLUE */
  /* --color-primary:#100B59;
  --color-wht:#ffffff;
  --color-blk:#000000;
  --color-blueI:#E9E8FA;
  --color-redI:#FFEFE7;
  --color-greenI:#E8F9FC;
  --color-bgcolor:#f5f4fc; */

  /* RED and Black */
  --color-primary:#FB030C;
  --color-secondPrimary:#660000;
  --color-wht:#ffffff;
  --color-grayOne:#000000 ;
  --color-grayTwo:##505050 ;
  --color-blk:#000000;
  --color-blueI:#E9E8FA;
  --color-redI:#FFEFE7;
  --color-greenI:#E8F9FC;
  --color-bgcolor:#F8F8F8;
  --color-bgcolorTwo:#DCE0E6;

  /* breakpoint */
  --breakpoint-xxs: 330px;
  --breakpoint-xs: 370px;
  --breakpoint-sm: 400px;
  --breakpoint-mdsm: 500px;
  --breakpoint-md: 640px;
  --breakpoint-mdlg: 768px;
  --breakpoint-lg: 900px;
  --breakpoint-xl: 1024px;
  --breakpoint-2xl: 1280px;

  /* Fonts */
  --font-poppins: "Poppins";
  --font-inter: "Inter";
  --font-winky: "Winky Rough" ;
  --font-roboto: "Roboto" ;
  --font-lato: "Lato" ;
}

.grid-animation {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
}

.fade-in-top {
  opacity: 0;
  transform: translateY(-30px); 
  animation: fadeInTop 2s ease-out forwards;
}

@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(-30px);

  }
  to {
    opacity: 1;
    transform: translateY(0);

  }
}

.fade-in-bottom {
  opacity: 0;
  transform: translateY(30px); 
  animation: fadeInBottom 2s ease-out forwards;
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Horizontal Lines */
.grid-animation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background: repeating-linear-gradient(
    to bottom,
    red 0px,
    red 2px,
    black 2px,
    black 6px
  );
  animation: moveVertical 4s linear infinite;
  opacity: 0.7;
}

/* Vertical Lines */
.grid-animation::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: repeating-linear-gradient(
    to right,
    red 0px,
    red 2px,
    black 2px,
    black 6px
  );
  animation: moveHorizontal 6s linear infinite;
  opacity: 0.7;
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.loader {
  width: 25px;
  height: 25px;
  border: 2px solid #FFF;
  border-bottom-color: #9b9b9b;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

  .page-preloader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 6rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .page-preloader:before,
  .page-preloader:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    animation: pulsOut 1.8s ease-in-out infinite;
    filter: drop-shadow(0 0 1rem rgba(248, 128, 128, 0.75));
  }
  .page-preloader:before {
    width: 100%;
    padding-bottom: 100%;
    box-shadow: inset 0 0 0 1rem #f73620;
    animation-name: pulsIn;
  }
  .page-preloader:after {
    width: calc(100% - 2rem);
    padding-bottom: calc(100% - 2rem);
    box-shadow: 0 0 0 0 #f73620;
  }

  @keyframes pulsIn {
    0% {
      box-shadow: inset 0 0 0 1rem #f73620;
      opacity: 1;
    }
    50%, 100% {
      box-shadow: inset 0 0 0 0 #f73620;
      opacity: 0;
    }
  }

  @keyframes pulsOut {
    0%, 50% {
      box-shadow: 0 0 0 0 #f73620;
      opacity: 0;
    }
    100% {
      box-shadow: 0 0 0 1rem #f73620;
      opacity: 1;
    }
  }

  @keyframes blink {
    0%, 100% { color: white; }
    50% { color: black; }
  }

  .animate-blink {
    animation: blink 2s infinite;
  }

  .ProseMirror {
    height: 100%;
    min-height: 300px;
    max-height: 300px;
    overflow-y: auto;
    padding: 8px;
  }

  @theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

  :root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

  .dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

  @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

 